<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Form</title>
</head>
<body><div style="height:100px;width:100%; background:blueviolet"></div>
    <form method="get" action="/user/dass"> 
  <div style = "width:100%;height:600px;display:flex">
    
   
    
    <div style="height:2000px;width:33.3%; margin-left:90px">
      <br><button type="submit">see your prediction</button>
      <h1>Select your symptoms</h1>
      <h3><b>SELECT ATLEAST 4 SYMPTOMS</b></h3>
        <h1>A</h1>
      <input type="radio" name="a1" value="1">abdominal_pain</input><br>

      <input type="radio" name="a2" value="2">abnormal_menstruation</input><br>

      <input type="radio" name="a3" value="3">acidity</input><br>

      <input type="radio" name="a4" value="4">acute_liver_failure</input><br>

      <input type="radio" name="a5" value="5">altered_sensorium</input><br>

      <input type="radio" name="a6" value="6">anxiety</input><br>
      <h2>B</h2>

      <input type="radio" name="a7" value="7">back_pain</input><br>

      <input type="radio" name="a8" value="8">belly_pain</input><br>

      <input type="radio" name="a9" value="9">blackheads</input><br>

      <input type="radio" name="a10" value="10">bladder_discomfort</input><br>

      <input type="radio" name="a11" value="11">blister</input><br>
      <input type="radio" name="a12" value="12">blood_in_sputum</input><br>


      <input type="radio" name="a13" value="13">bloody_stool</input><br>


      <input type="radio" name="a14" value="14">blurred_and_distorted_vision</input><br>


      <input type="radio" name="a15" value="15">breathlessness</input><br>


      <input type="radio" name="a16" value="16">brittle_nails</input><br>


      <input type="radio" name="a17" value="17">bruising</input><br>


      <input type="radio" name="a18 "value="18">burning_micturition</input><br>
      <h1>C</h1>


      <input type="radio" name="a19" value="19">chest_pain</input><br>


      <input type="radio" name="a20" value="20">chills</input><br>
      <input type="radio" name="a21" value="21"> cold_hands_and_feets</input><br>

      <input type="radio" name="a22" value="22">coma</input><br>

      <input type="radio" name="a23" value="23">congestion</input><br>

      <input type="radio" name="a24" value="24">constipation</input><br>

      <input type="radio" name="a25" value="25">continuous_feel_of_urine</input><br>

      <input type="radio" name="a26" value="26">continuous_sneezing</input><br>

      <input type="radio" name="a27" value="27">cough</input><br>

      <input type="radio" name="a28" value="28">cramps</input><br>
      <h1>D</h1>

      <input type="radio" name="a29" value="29">dark_urine</input><br>

      <input type="radio" name="a30" value="30">dehydration</input><br>
      <input type="radio" name="a31" value="31">depression</input><br>

      <input type="radio" name="a32" value="32">diarrhoea</input><br>

      <input type="radio" name="a33" value="33">dischromic _patches</input><br>

      <input type="radio" name="a34" value="34">distention_of_abdomen</input><br>

      <input type="radio" name="a35" value="35">drying_and_tingling_lips</input><br>
      <h1>E</h1>
      <input type="radio" name="a36" value="36">enlarged_thyroid
    </input><br>
      <input type="radio" name="a37" value="37">excessive_hunger
    </input><br>
      <input type="radio" name="a38" value="38">extra_marital_contacts
    </input><br><h1>F</h1>
      <input type="radio" name="a39" value="39">family_history
    </input><br>
      <input type="radio" name="a40" value="40">fast_heart_rate
    </input><br>
      <input type="radio" name="a41" value="41">fatigue
    </input><br>
      <input type="radio" name="a42" value="42">fluid_overload
    </input><br>
      <input type="radio" name="a43" value="43">fluid_overload
    </input><br>
      <input type="radio" name="a44" value="44">foul_smell_of urine
    </input><br><h1>H</h1>
      <input type="radio" name="a45" value="45">headache
    </input><br>
      <input type="radio" name="a46" value="46">high_fever
    </input><br>
      <input type="radio" name="a47" value="47">hip_joint_pain
    </input><br>
      <input type="radio" name="a48" value="48">history_of_alcohol_consumption
    </input><br>
      






      

        </div>
      <div style = " padding-top: 55px"><br><br><br>
        <h1>I</h1>
        <input type="radio" name="a49" value="49">increased_appetite
      </input><br>
        <input type="radio" name="a50" value="50">indigestion
      </input><br>
        <input type="radio" name="a51" value="51">inflammatory_nails
      </input><br>
        <input type="radio" name="a52" value="52">internal_itching
      </input><br>
        <input type="radio" name="a53" value="53">irregular_sugar_level
      </input><br>
        <input type="radio" name="a54" value="54">irritability
      </input><br>
        <input type="radio" name="a55" value="55">irritation_in_anus
      </input><br>
        <input type="radio" name="a56" value="56">itching
      </input><br><h1>J</h1>
        <input type="radio" name="a57" value="57">joint_pain
      </input><br><h1>K</h1>
        <input type="radio" name="a58" value="58">knee_pain
      </input><br><h1>L</h1>
        <input type="radio" name="a59" value="59">lack_of_concentration
      </input><br>
        <input type="radio" name="a60" value="60">lethargy
      </input><br>
        <input type="radio" name="a61" value="61">loss_of_appetite
      </input><br>
        <input type="radio" name="a62" value="62">loss_of_balance
      </input><br>
        <input type="radio" name="a63" value="63">loss_of_smell
      </input><br><h1>M</h1>
        <input type="radio" name="a64" value="64">malaise
      </input><br>
        <input type="radio" name="a65" value="65">mild_fever
      </input><br>
        <input type="radio" name="a66" value="66">mood_swings
      </input><br>
        <input type="radio" name="a67" value="67">movement_stiffness
      </input><br>
        <input type="radio" name="a68" value="68">mucoid_sputum
      </input><br>
        <input type="radio" name="a69" value="69">muscle_pain
      </input><br>
        <input type="radio" name="a70" value="70">muscle_wasting
      </input><br>
        <input type="radio" name="a71" value="71">muscle_weakness
      </input><br><h1>N</h1>
        <input type="radio" name="a72" value="72">nausea
      </input><br>
        <input type="radio" name="a73" value="73">neck_pain
      </input><br>
        <input type="radio" name="a74" value="74">nodal_skin_eruptions
      </input><br><h1>O</h1>
        <input type="radio" name="a75" value="75">obesity
      </input><br><h1>P</h1>
        <input type="radio" name="a76" value="76">pain_behind_the_eyes
      </input><br>
        <input type="radio" name="a77" value="77">pain_during_bowel_movements
      </input><br>
      <input type="radio" name="a78" value="78">pain_in_anal_region
    </input><br>
      <input type="radio" name="a79" value="79">painful_walking
    </input><br>
      <input type="radio" name="a80" value="80">palpitations
    </input><br>
      <input type="radio" name="a81" value="81">passage_of_gases
    </input><br>
      <input type="radio" name="a82" value="82">patches_in_throat
    </input><br>
      <input type="radio" name="a83" value="83">phlegm
    </input><br>
      <input type="radio" name="a84" value="84">polyuria
    </input><br>
      <input type="radio" name="a85" value="85">prominent_veins_on_calf
    </input><br>
      <input type="radio" name="a86" value="86">puffy_face_and_eyes
    </input><br>
      <input type="radio" name="a87" value="87">pus_filled_pimples
    </input><br>  
  </div>
        <div style="padding-left: 300px;
        padding-top: 72px;">
          <br><br>
          <h1>R</h1>
            <input type="radio" name="a88" value="88">receiving_blood_transfusion
          </input><br>
            <input type="radio" name="a89" value="89">receiving_unsterile_injections
          </input><br>
            <input type="radio" name="a90" value="90">red_sore_around_nose
          </input><br>
            <input type="radio" name="a91" value="91">red_spots_over_body
          </input><br>
            <input type="radio" name="a92" value="92">redness_of_eyes
          </input><br>
            <input type="radio" name="a93" value="93">restlessness
          </input><br>
            <input type="radio" name="a94" value="94">runny_nose
          </input><br>
            <input type="radio" name="a95" value="95">rusty_sputum
          </input><br><h1>S</h1>
            <input type="radio" name="a96" value="96">scurring
          </input><br>
            <input type="radio" name="a97" value="97">shivering
          </input><br>
            <input type="radio" name="a98" value="98">silver_like_dusting
          </input><br>
            <input type="radio" name="a99" value="99">sinus_pressure
          </input><br>
            <input type="radio" name="a100" value="100">skin_peeling
          </input><br>
            <input type="radio" name="a101" value="101">skin_rash
          </input><br>
            <input type="radio" name="a102"value="102">slurred_speech
          </input><br>
            <input type="radio" name="a103" value="103">small_dents_in_nails
          </input><br>
            <input type="radio" name="a104" value="104">spinning_movements
          </input><br>
            <input type="radio" name="a105" value="105">spotting_ urination
          </input><br>
            <input type="radio" name="a106" value="106">stiff_neck
          </input><br>
            <input type="radio" name="a107" value="107">stomach_bleeding
          </input><br>
            <input type="radio" name="a108" value="108">stomach_pain
          </input><br>
            <input type="radio" name="a109" value="109">sunken_eyes
          </input><br>
            <input type="radio" name="a110" value="110">sweating
          </input><br>
            <input type="radio" name="a111" value="111">swelled_lymph_nodes
          </input><br>
            <input type="radio" name="a112" value="112">swelling_joints
          </input><br>
            <input type="radio" name="a113" value="113">swelling_of_stomach
          </input><br>
            <input type="radio" name="a114" value="114">swollen_blood_vessels
          </input><br>
            <input type="radio" name="a115" value="115">swollen_extremeties
          </input><br>
            <input type="radio" name="a116" value="116">swollen_legs
          </input><br><h1>T</h1>
            <input type="radio" name="a117" value="117">throat_irritation
          </input><br>
            <input type="radio" name="a118" value="118">toxic_look_(typhos)
          </input><br><h1>U</h1>
            <input type="radio" name="a119" value="119">ulcers_on_tongue
          </input><br>
            <input type="radio" name="a120" value="120">unsteadiness
          </input><br><h1>V</h1>
            <input type="radio" name="a121" value="121">visual_disturbances
          </input><br>
            <input type="radio" name="a122" value="122">vomiting
          </input><br><h1>W</h1>
            <input type="radio" name="a123" value="123">watering_from_eyes
          </input><br>
            <input type="radio" name="a124" value="124">weakness_in_limbs
          </input><br>
            <input type="radio" name="a125" value="125">weakness_of_one_body_side
          </input><br>
            <input type="radio" name="a126" value="126">weight_gain
          </input><br>
            <input type="radio" name="a127" value="127">weight_loss
          </input><br><h1>Y</h1>
            <input type="radio" name="a128" value="128">yellow_crust_ooze
          </input><br>
            <input type="radio" name="a129" value="129">yellow_urine
          </input><br>
            <input type="radio" name="a130" value="130">yellowing_of_eyes
          </input><br>
            <input type="radio" name="a131" value="131">yellowish_skin
          </input><br>
        </div>
    
    
  </div>
  
  
  </form>
</body>
</html>